docker.enabled = true

process {
    withName:fastqc_raw {
        container = 'binfgsc/fastqc:latest'
        cpus = 3
        memory = '2 GB'
        time = '1h'
    }
    withName:trim {
        container = 'binfgsc/trimmomatic:latest'
        cpus = 3
        memory = '2 GB'
        time = '1h'
    }
    withName:fastqc_trimmed {
        container = 'binfgsc/fastqc:latest'
        cpus = 3
        memory = '2 GB'
        time = '1h'
    }
    withName:multiqc {
        container = 'binfgsc/multiqc:latest'
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
    withName:starIndex {
        container = 'binfgsc/star:latest'
        cpus = 3
        memory = '14 GB'
        time = '2h'
    }
    withName:starAlign {
        container = 'binfgsc/star:latest'
        cpus = 3
        memory = '14 GB'
        time = '2h'
    }
}

params {
    fastqs = "/media/maxh/storage/RNAseq_example/raw_fastqs"
    genome = "/media/maxh/storage/RNAseq_example/genome"
    gtf = "/media/maxh/storage/RNAseq_example/genome"
    out_dir = "/media/maxh/storage/RNAseq_example/out"
}

workDir = "/media/maxh/storage/RNAseq_example/temp"